.specialization {

	.spec-ul {
		.list-unstyled;
	}

	.spec-li {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 40px 40px 0;

		font-size: 1em;
		line-height: 25em / 15;

		h3 {
			margin: 24em / @htmlFontSize 0 0;
			
			font-size: 0.9375em;
			font-weight: 700;
			text-transform: uppercase;
		}

		p {
			color: #646464;
  			font-size: 0.9375em;
			margin: 8px 0 0;

			font-weight: 300;
		}
	}

	.spec-li-head {
		height: 95px;

		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: auto 95%;

		&.first {
			img {
				height: 111%;
			    position: relative;
			    top: -12px;
			}
		}
	}
}