@media screen and (max-width: 960px) {
	html {
		font-size: 14px;
	}
}
@media screen and (max-width: 800px) {
	.specialization {
		
		.spec-li {
			width: 100%;
		}
	}
	.portfolio {

		.portfolio-li {
			width: 100%;
		}
	}
	.processes {

		.proc-li {
			width: 100%;			
		}
	}

	.section-cont {
		padding: 0 0 0 30.625%;
	}

	.main-footer {
		.section-wrap {
			padding: 0 0 0 30.625%;
		}
	}

	.left-bar {
		width: 30.625%;
		margin: 0;
	}
}
@media screen and (max-width: 600px) {
	html {
		font-size: 13px;
	}
	.main-header {
		.header-main-desc {
			font-size: 2em;
		}
	}
	.csstransforms {
		.left-bar {
			h2 {
				margin-top: 10%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.csstransforms {
		.left-bar {
			h2 {
				margin-top: 15%;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.csstransforms {
		.left-bar {
			h2 {
				margin-top: 30%;
			}
		}
	}
}

@media screen and (max-width: 360px) {
	.csstransforms {
		.left-bar {
			h2 {
				margin-top: 40%;
			}
		}
	}
}

@media screen and (max-width: 320px) {
	.csstransforms {
		.left-bar {
			h2 {
				margin-top: 50%;
			}
		}
	}
}