.left-bar {
	float: left;
	width: 200px;
	margin: 0 40px;

	h2 {
		transform-origin: 50% 50%;
		transform: rotate(90deg);

		font-size: 15em / @htmlFontSize;
		line-height: 25em / 15;
		font-weight: 300;

		text-transform: uppercase;
	}
}